body{
    display: flex;
    flex-direction: column;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 5000px;
    background-color: rgb(0, 0, 0);
    flex-wrap: wrap;
}

.header{
    position:sticky;
    top: 15px;;
    display: flex;
    background-color: white;
    margin: 5px;
    padding: 0;
    justify-content: space-between;
    border-radius: 30px;
    z-index: 99999;
}

.footer{
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
}

.tabs{
    display: flex;
    justify-content: space-evenly;
    color: rgb(0, 0, 0);
    gap: 30px;
    margin-right: 40px;
    align-items: center;
    transition: ease-in-out .3s;
    text-decoration: underline;
    text-decoration-color: red;
}

a:hover{
    transform:scale(1.1);
}

a{
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    transition: ease-in-out .3s;
    font-weight: bold;
}

.main-logo{
    width: 100px;
    height:fit-content;
    margin-left: 40px;
}

.section-one{
    display: flex;
    margin: 40px;
    background-color: black;
    gap: 40px;
    padding: 30px;
    border-radius: 30px;
    transition: ease-out .3s;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.catch{
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    flex: 1 0 300px;
}

h2{
    font-size: 48px;
    align-self: center;
    font-weight: bolder;
    text-indent: 40px;
}

h3{
    color:rgb(255, 255, 255);
    font-weight: 400;
}

.section-one:hover{
    size-adjust: 110%;
    transform: scale(1.035);
}

.silhouette{
    opacity:40;
}

/* width */
::-webkit-scrollbar {
    width: 20px;
}
  
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(254, 0, 0);
    border-radius: 10px;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255);
    border-radius: 10px;
}

#reserve{
    background-color: red;
    width: 250px;
    height: 50px;
    position: relative;
    top: 50%;
    left: 38.9%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    font-size: medium;
    border-radius: 60px;
    border-color: white;
    color: white;
}

.section-two{
    display: flex;
    margin: 40px;
    background-color: rgb(255, 255, 255);
    gap: 40px;
    padding: 30px;
    border-radius: 30px;
    transition: ease-out .3s;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section-two:hover{
    size-adjust: 110%;
    transform: scale(1.035);
}

.zerotosixty{
    flex-direction: column;
    display: flex;
    align-items: center;
}

.zerotosixty h3{
    font-weight: bold;
    font-size: 24px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
}

.topspeed{
    flex-direction: column;
    display: flex;
    align-items: center;
}

.topspeed h3{
    font-weight: bold;
    font-size: 24px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
}

#acceleration{
    height: 50px;
    width: auto;
}

#topspeed{
    height: 50px;
    width: auto;
}

.range{
    flex-direction: column;
    display: flex;
    align-items: center;
}

.range h3{
    font-weight: bold;
    font-size: 24px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
}

#range{
    height: 50px;
    width: auto;
}

.stats{
    display: flex;
    flex-direction: row;
    gap: 40px;
}